@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

#container {
    max-width: 1000px;
    margin: 60px auto;

    box-sizing: border-box;

    padding: 30px 60px;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

@media screen and (max-width: 1024px) {
    #container {
        margin: 10px;
        padding: 0;
        border: none;
    }
}

#noscript-warning {
    background-color: lemonchiffon;
    margin: 10px 0;
    padding: 15px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid lightgray;
}

@media screen and (max-width: 540px) {
    hr {
        margin: 10px 0;
    }
}

body {
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: black !important;
    text-decoration: none !important;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 28pt;
}

a {
    color: #0074D9;
    font-family: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    font-family: sans-serif;
    text-align: center;
    font-size: 11pt;
}

footer p:last-of-type {
    font-size: 80%;
    color: gray;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 500px;
    overflow: visible;
}

@media screen and (max-width: 1024px) {
    main {
        flex-direction: column-reverse;
    }
}

main.noscript {
    display: none;
}

#load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: white;

    transition: opacity 0.3s ease-in 250ms;
}

#qcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    #qcontainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

#qcontent {
    margin-top: 20px;
}

#qcontent p {
    margin: 0;
}

#qcontent p + p {
    margin-top: 20px;
}

#qsecondary {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qans {
    display: grid;
    margin-top: 20px;
    grid-template-columns: minmax(200px, max-content);
    grid-row-gap: 10px;
}

@media screen and (max-width: 540px) {
    #qprimary, #qsecondary {
        width: 100%;
    }
    #qcontent, .qans {
        margin-top: 10px;
    }
}

@media screen and (max-width: 640px) {
    .qans {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

.qans a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
}

@media screen and (max-width: 540px) {
    .qans a {
        padding: 5px 10px;
    }
}

.qans a.correct {
    background-color: #2ECC71 !important;
    border-color: #27AE60;
    color: white;
}

.qans a.incorrect {
    background-color: #E74C3C !important;
    border-color: #C0392B;
    color: white;
}

.qans a:hover {
    background-color: #EEEEEE;
}

#stats {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
    grid-template-columns: repeat(2, minmax(180px, max-content));
}

#stats .content {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
}

#stats > .header {
    font-variant: all-small-caps;
    text-align: center;
    color: gray;
}

#stats .content > .header {
    font-weight: bolder;
}

#stats .content > .header + * {
    text-align: right;
}

@media screen and (max-width: 540px) {
    #stats {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }
    #stats .content > .header {
        display: none;
        text-align: center;
    }
    #stats .content > .header + * {
        text-align: center;
    }
}
